{% extends 'web_lib/main.html' %}

{% block content %}
 <div class='container'>
    <h1>Authors</h1>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">PK</th>
            <th scope="col">age</th>
            <th scope="col">name</th>
            <th scope="col">email</th>
          </tr>
        </thead>
        <tbody>
        {% if authors %}
            {% for author in authors %}
            <tr>
                <th class='row'>
                    <a href="{% url 'author_id' author.pk %}">{{author.pk}}</a>
                </th>
                <td>{{author.name}}</td>
                <td>{{author.age}}</td>
                <td>{{author.email}}</td>
            </tr>
            {% endfor %}
        {% else %}
            <p>No authors</p>
        {% endif %}
        </tbody>
      </table>
 </div>
{% endblock %}